.newsletter {
  background-color: #001f3f;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.newsletter input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: box-shadow 0.3s;
}

.newsletter input:focus {
  box-shadow: 0 0 10px #ffa500;
}

.newsletter button {
  background-color: #ffa500;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}