.testimonials {
  text-align: center;
  padding: 50px 20px;
}

.test-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.test-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  transition: transform 0.3s;
}

.test-card:hover {
  transform: translateY(-10px);
}